<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.darkkatroms.weather"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<permission android:name="net.darkkatroms.weather.READ_WEATHER" />

	<uses-sdk
		android:minSdkVersion="23"
		android:targetSdkVersion="24" />

	<application
        android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:allowBackup="true" >

		<uses-library android:name="org.apache.http.legacy" android:required="false" />

		<activity
			android:name=".SettingsActivity"
			android:label="@string/weather_title"
			android:theme="@style/AppTheme"
			android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true" />

		<activity
			android:name=".MainActivity"
			android:label="@string/weather_title"
			android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>

        <!-- The detailed weather activity -->
        <activity
            android:name=".DetailedWeatherActivity"
            android:theme="@style/AppTheme.DetailedWeather"
            android:hardwareAccelerated="true"
			android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true" />

		<service
			android:name=".WeatherService"
			android:exported="true" />

		<provider
			android:name=".WeatherContentProvider"
			android:authorities="net.darkkatroms.weather.provider"
			android:exported="true"
			android:readPermission="net.darkkatroms.weather.READ_WEATHER" />

		<receiver android:name=".SystemReceiver" >
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	 </application>
</manifest>
